.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 95%, .7)), to(hsla(0, 0%, 100%, .7))), url('../images/Background-Image.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 95%, .7), hsla(0, 0%, 100%, .7)), url('../images/Background-Image.jpg');
    background-position: 0px 0px, 0px 0px;
    background-size: auto, 600px;
}

.grid {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: auto;
    padding-bottom: auto;
    grid-column-gap: 10px;
    grid-template-areas: ". .";
    -ms-grid-columns: 1.25fr 10px 0.8fr;
    grid-template-columns: 1.25fr 0.8fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.heading {
    margin: -36px 0px 10px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'Avenir Next Bold', sans-serif;
    font-size: 56px;
    line-height: 70px;
}

.paragraph {
    margin-bottom: 22px;
    margin-left: 0px;
    padding-top: 15px;
    font-family: 'Avenir Next Normal', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.button {
    margin-top: 10px;
    margin-bottom: -5px;
    margin-left: 0px;
    border-radius: 20px;
    background-color: hsla(200.66225165562912, 73.66%, 59.80%, 1.00);
    font-family: 'Avenir Next Semi Bold', sans-serif;
    font-size: 13px;
}

.div-block {
    margin-right: 0px;
    margin-left: 15px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.navbar {
    background-color: #fff;
    font-family: 'Avenir Next Semi Bold', sans-serif;
    color: #4a81e3;
}

.nav-link {
    color: #000;
}

.nav-link-3 {
    padding-bottom: 21px;
}

.image {
    position: relative;
    z-index: 10;
    max-width: 100%;
    margin-bottom: -126px;
    padding-left: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.grid-1 {
    height: 275px;
    margin: 25px 30px;
    padding-bottom: 0px;
    grid-column-gap: 10px;
    grid-template-areas: ". .";
    -ms-grid-columns: 0.75fr 10px 1fr;
    grid-template-columns: 0.75fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.section-1 {
    padding: 40px 0px;
}

.heading-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    font-family: 'Avenir Next Bold', sans-serif;
    color: hsla(200.66225165562912, 73.66%, 59.80%, 1.00);
    font-size: 30px;
    line-height: 40px;
}

.paragraph-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    font-family: 'Avenir Next Normal', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.image-2 {
    display: block;
    max-width: 80%;
    margin-right: -11px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.grid-2 {
    margin: 50px 30px;
    grid-column-gap: 10px;
    grid-template-areas: ". .";
    -ms-grid-columns: 0.8fr 10px 1fr;
    grid-template-columns: 0.8fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.section-2 {
    padding-top: 50px;
    padding-bottom: 85px;
}

.heading-3 {
    width: 300px;
    font-family: 'Avenir Next Bold', sans-serif;
    color: #477ee6;
    font-size: 30px;
    line-height: 35px;
}

.paragraph-3 {
    font-family: 'Avenir Next Normal', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.image-3 {
    max-width: 75%;
}

.section-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    min-height: 73vh;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../images/Employer-Background3x.png');
    background-size: cover;
    background-attachment: scroll;
}

.grid-3 {
    padding-right: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.div-block-2 {
    width: 500px;
    margin-right: 30px;
}

.heading-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    font-family: 'Avenir Next Bold', sans-serif;
    font-size: 50px;
    line-height: 60px;
}

.paragraph-4 {
    margin-bottom: 15px;
    font-family: 'Avenir Next Normal', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.button-2 {
    border-radius: 20px;
    background-color: hsla(200.66225165562912, 73.66%, 59.80%, 1.00);
    font-family: 'Avenir Next Semi Bold', sans-serif;
}

.grid-4 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.heading-5 {
    font-family: 'Avenir Next Bold', sans-serif;
    color: #5085dd;
    text-align: center;
}

.div-block-3 {
    padding-top: 0px;
}

.section-4 {
    padding-top: 50px;
    padding-bottom: 65px;
}

.paragraph-5 {
    font-family: 'Avenir Next Normal', sans-serif;
    text-align: center;
}

.grid-5 {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.heading-6 {
    font-family: 'Avenir Next Bold', sans-serif;
    color: hsla(200.41666666666666, 71.29%, 60.39%, 1.00);
    font-size: 30px;
}

.heading-7 {
    font-family: 'Avenir Next Bold', sans-serif;
    color: #477ee6;
    font-size: 30px;
}

.paragraph-6 {
    font-family: 'Avenir Next Bold', sans-serif;
}

.paragraph-7 {
    font-family: 'Avenir Next Medium Normal', sans-serif;
}

.paragraph-8 {
    font-family: 'Avenir Next Bold', sans-serif;
}

.paragraph-9 {
    font-family: 'Avenir Next Medium Normal', sans-serif;
}

.paragraph-10 {
    font-family: 'Avenir Next Bold', sans-serif;
}

.paragraph-11 {
    font-family: 'Avenir Next Medium Normal', sans-serif;
}

.paragraph-12 {
    font-family: 'Avenir Next Bold', sans-serif;
}

.paragraph-13 {
    font-family: 'Avenir Next Medium Normal', sans-serif;
}

.heading-8 {
    font-family: 'Avenir Next Bold', sans-serif;
    color: hsla(200.41666666666666, 71.29%, 60.39%, 1.00);
    font-size: 30px;
}

.paragraph-14 {
    font-family: 'Avenir Next Bold', sans-serif;
}

.paragraph-15 {
    font-family: 'Avenir Next Medium Normal', sans-serif;
}

.paragraph-16 {
    font-family: 'Avenir Next Bold', sans-serif;
}

.paragraph-17 {
    font-family: 'Avenir Next Medium Normal', sans-serif;
}

.paragraph-18 {
    font-family: 'Avenir Next Bold', sans-serif;
}

.paragraph-19 {
    font-family: 'Avenir Next Medium Normal', sans-serif;
}

.footer {
    background-color: #b1b1b1;
}

.grid-6 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    grid-template-areas: ". .";
    -ms-grid-columns: 1fr 0px 1fr 0px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

.image-4 {
    padding-left: 0px;
}

.button-3 {
    border-radius: 20px;
    background-color: #477ee6;
    font-family: 'Avenir Next Semi Bold', sans-serif;
}

.paragraph-20 {
    font-family: 'Avenir Next Bold', sans-serif;
}

.paragraph-21 {
    font-family: 'Avenir Next Medium Normal', sans-serif;
}

.paragraph-22 {
    font-family: 'Avenir Next Bold', sans-serif;
}

.paragraph-23 {
    font-family: 'Avenir Next Medium Normal', sans-serif;
}

.paragraph-24 {
    font-family: 'Avenir Next Bold', sans-serif;
}

.paragraph-25 {
    font-family: 'Avenir Next Medium Normal', sans-serif;
}

.container-2 {
    position: static;
}

.image-5 {
    display: block;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.image-6 {
    display: inline;
}

.grid-7 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.button-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 125px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center;
}

.button-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 40px;
    background-color: #000;
}

.div-block-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.button-6 {
    width: 60px;
    height: 60px;
    margin-right: 13px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 30px;
    background-color: #000;
    background-image: url('../images/white-linkedin-logo.png');
    background-position: 50% 50%;
    background-size: 35px;
    background-repeat: no-repeat;
    text-align: center;
}

.button-7 {
    width: 60px;
    height: 60px;
    margin-right: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border-radius: 30px;
    background-color: #000;
    background-image: url('../images/facebook-logo-png-white-i6.png');
    background-position: 0px 0px;
    background-size: 50px;
    background-repeat: no-repeat;
    text-align: center;
}

.brand {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.text-span {
    color: hsla(200.41666666666666, 71.29%, 60.39%, 1.00);
}

.heading-9 {
    position: relative;
    left: -86px;
    top: 283px;
    max-height: 5%;
    max-width: 6%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: 'Avenir Next Bold', sans-serif;
    font-size: 32px;
    text-align: center;
}

.paragraph-26 {
    position: relative;
    left: -171px;
    top: 346px;
    right: 1217px;
    max-height: 2%;
    max-width: 50%;
    margin-bottom: 10px;
    padding-top: 0px;
    font-family: 'Avenir Next Semi Bold', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.heading-10 {
    position: relative;
    left: -975px;
    top: 220px;
    font-family: 'Avenir Next Bold', sans-serif;
    font-size: 32px;
}

.div-block-8 {
    position: absolute;
    left: 211px;
    top: 749.5px;
}

.heading-11 {
    position: absolute;
    left: 1309.547px;
    top: 744.5px;
    font-family: 'Avenir Next Bold', sans-serif;
    font-size: 32px;
}

.heading-12 {
    position: relative;
    left: auto;
    top: auto;
    font-family: 'Avenir Next Bold', sans-serif;
    font-size: 32px;
}

.paragraph-27 {
    position: absolute;
    left: 495.5px;
    top: 813.5px;
    font-family: 'Avenir Next Semi Bold', sans-serif;
    font-size: 16px;
}

.paragraph-28 {
    position: absolute;
    left: 842.375px;
    top: 813.5px;
    max-width: 19%;
    padding-top: 0px;
    font-family: 'Avenir Next Semi Bold', sans-serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: normal;
}

.paragraph-29 {
    position: absolute;
    left: 1262px;
    top: 813.5px;
    font-family: 'Avenir Next Semi Bold', sans-serif;
    font-size: 16px;
}

.heading-13 {
    position: relative;
    top: 220px;
}

.heading-14 {
    position: relative;
    top: 220px;
}

.heading-15 {
    position: relative;
    left: -875px;
    top: 220px;
}

.heading-16 {
    position: relative;
    left: -575px;
    top: 220px;
}

.heading-17 {
    position: relative;
    left: -274px;
    top: 220px;
}

.div-block-9 {
    position: relative;
    top: 283px;
}

.heading-18 {
    position: relative;
    left: 161px;
    top: -56px;
}

.heading-19 {
    position: relative;
    left: 271px;
    top: -117px;
}

.heading-20 {
    position: relative;
}

.heading-21 {
    position: relative;
    top: 10px;
}

.grid-8 {
    grid-template-areas: ".";
    -ms-grid-columns: 2fr 2fr 2fr 2fr;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    -ms-grid-rows: 0.5fr;
    grid-template-rows: 0.5fr;
}

.div-block-10 {
    position: relative;
    left: -991px;
    bottom: -199px;
    max-height: 200px;
    max-width: 1000px;
}

.heading-22 {
    clear: right;
}

.heading-23 {
    float: right;
    clear: right;
}

.div-block-11 {
    max-width: 1000px;
}

.columns {
    position: relative;
    left: -710px;
    top: 174px;
}

.grid-9 {
    position: relative;
    top: 202px;
    clear: right;
    grid-column-gap: 16px;
    grid-template-areas: ".";
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.grid-10 {
    position: relative;
    left: -21px;
    top: 76px;
    grid-column-gap: 10px;
    grid-template-areas: ".";
    -ms-grid-columns: 1.25fr 10px 1.25fr 10px 1.25fr 10px 1.25fr;
    grid-template-columns: 1.25fr 1.25fr 1.25fr 1.25fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.heading-24 {
    text-align: center;
}

.heading-25 {
    text-align: center;
}

.heading-26 {
    text-align: center;
}

.heading-27 {
    text-align: center;
}

.paragraph-30 {
    font-family: 'Avenir Next Semi Bold', sans-serif;
    text-align: center;
}

.image-7 {
    position: relative;
    left: 594px;
    top: -149px;
    z-index: 1;
    max-width: 70%;
    margin-top: 28px;
    margin-left: -48px;
}

.image-8 {
    margin-top: -109px;
}

.image-9 {
    margin-top: -120px;
}

@media (max-width: 991px) {
    .image {
        margin-bottom: -161px;
        margin-left: 11px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .heading-4 {
        margin-left: 240px;
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
    }

    .button-2 {
        margin-left: 239px;
    }

    .grid-7 {
        justify-items: center;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    .button-6 {
        width: 50px;
        height: 50px;
        background-size: 30px;
    }

    .button-7 {
        width: 50px;
        height: 50px;
        margin-right: 0px;
        margin-left: 0px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        background-size: 40px;
    }

    .paragraph-26 {
        right: 348px;
    }

    .grid-10 {
        left: 1px;
    }

    .image-7 {
        left: 434px;
        top: -47px;
        margin-left: 1px;
    }

    .image-8 {
        margin-top: 10px;
        margin-left: 11px;
    }

    .image-9 {
        margin-top: -25px;
        margin-left: 8px;
    }
}

@media (max-width: 767px) {
    .grid {
        justify-items: center;
        grid-row-gap: 35px;
        grid-template-areas: "."".";
        -ms-grid-columns: 5fr;
        grid-template-columns: 5fr;
        -ms-grid-rows: auto 35px auto;
        grid-template-rows: auto auto;
        text-align: center;
    }

    .heading {
        margin-top: -12px;
        line-height: 55px;
    }

    .button {
        position: static;
    }

    .image {
        position: relative;
        left: -81px;
        bottom: -22px;
        display: block;
        max-width: 250px;
        margin-bottom: -6px;
        margin-left: -76px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .container {
        padding: 10px;
    }

    .grid-1 {
        height: 100%;
        grid-template-areas: "."".";
        -ms-grid-columns: 6.25fr;
        grid-template-columns: 6.25fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        text-align: center;
    }

    .heading-2 {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

    .paragraph-2 {
        padding-right: 20px;
        padding-left: 20px;
    }

    .image-2 {
        max-width: 250px;
    }

    .grid-2 {
        grid-template-areas: "."".";
        -ms-grid-columns: 4.8fr;
        grid-template-columns: 4.8fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    }

    .heading-3 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .paragraph-3 {
        padding-right: 20px;
        padding-left: 20px;
    }

    .image-3 {
        max-width: 250px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .grid-3 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        justify-items: end;
    }

    .heading-4 {
        margin-right: -37px;
        margin-left: 352px;
        font-size: 25px;
        line-height: 40px;
        text-align: right;
    }

    .paragraph-4 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding-left: 60px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        text-align: right;
    }

    .button-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 116px;
        margin-left: 420px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        text-align: center;
    }

    .section-4 {
        padding-right: 20px;
        padding-left: 20px;
    }

    .grid-5 {
        display: -ms-grid;
        display: grid;
        grid-auto-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }

    .div-block-4 {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        text-align: center;
    }

    .div-block-5 {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        text-align: center;
    }

    .grid-7 {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        grid-row-gap: 16px;
        -ms-grid-rows: auto 16px auto 16px auto;
        grid-template-areas: ".""."".";
        -ms-grid-columns: minmax(200px, 1fr);
        grid-template-columns: minmax(200px, 1fr);
    }

    .button-4 {
        margin-left: 0px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .div-block-7 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }

    .heading-24 {
        margin-top: -10px;
    }

    .heading-25 {
        margin-top: -10px;
    }

    .heading-26 {
        margin-top: -10px;
    }

    .heading-27 {
        margin-top: -10px;
    }

    .image-7 {
        left: 130px;
        top: 257px;
        z-index: 0;
        max-width: 40%;
        margin-top: 83px;
        margin-bottom: 18px;
    }

    .image-9 {
        max-width: 40%;
        margin-top: 48px;
        margin-left: 268px;
    }
}

@media (max-width: 479px) {
    .grid {
        display: -ms-grid;
        display: grid;
        grid-auto-columns: 0.25fr;
        grid-column-gap: 23px;
        grid-row-gap: 20px;
        grid-template-areas: ".";
        -ms-grid-columns: 5fr;
        grid-template-columns: 5fr;
        -ms-grid-rows: auto 20px auto;
        grid-template-rows: auto auto;
    }

    .heading {
        padding-right: 10px;
        font-size: 40px;
        line-height: 43px;
    }

    .div-block {
        margin-left: 0px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .image {
        left: -5px;
        top: 17px;
        max-width: 200px;
        margin-bottom: 9px;
        margin-left: -95px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .div-block-2 {
        margin-right: 30px;
        margin-left: auto;
    }

    .heading-4 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: 6px;
        margin-left: 364px;
        font-size: 20px;
        line-height: 30px;
        text-align: right;
    }

    .paragraph-4 {
        width: 65%;
        margin-left: 181px;
        font-size: 14px;
    }

    .grid-7 {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        grid-column-gap: 18px;
        grid-template-areas: ".""."".";
        -ms-grid-columns: minmax(325px, 1fr);
        grid-template-columns: minmax(325px, 1fr);
    }

    .grid-10 {
        top: 30px;
        grid-template-areas: ".";
        -ms-grid-columns: 1.25fr 1.25fr 1.25fr 0.75fr;
        grid-template-columns: 1.25fr 1.25fr 1.25fr 0.75fr;
    }

    .heading-24 {
        font-size: 25px;
    }

    .heading-25 {
        font-size: 25px;
    }

    .heading-26 {
        font-size: 25px;
    }

    .heading-27 {
        font-size: 25px;
    }

    .paragraph-30 {
        font-size: 10px;
    }

    .image-7 {
        top: 418px;
        max-width: 0%;
    }

    .image-9 {
        margin-left: 193px;
    }
}

#w-node-dfc9b124a57a-b94a1a29 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: auto;
    justify-self: auto;
}

@media screen and (max-width: 767px) {
    #w-node-dfc9b124a57a-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: auto;
        justify-self: auto;
    }
}

#w-node-b99581060cf4-b94a1a29 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
}

@media screen and (max-width: 991px) {
    #w-node-b99581060cf4-b94a1a29 {
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

@media screen and (max-width: 767px) {
    #w-node-b99581060cf4-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

@media screen and (max-width: 479px) {
    #w-node-b99581060cf4-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

#w-node-bee3c63e1e65-b94a1a29 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-b0178475e6f9-b94a1a29 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 991px) {
    #w-node-b0178475e6f9-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 767px) {
    #w-node-b0178475e6f9-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 479px) {
    #w-node-b0178475e6f9-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-670758a3aed1-b94a1a29 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 479px) {
    #w-node-670758a3aed1-b94a1a29 {
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-4b5142f38184-b94a1a29 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 991px) {
    #w-node-4b5142f38184-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 479px) {
    #w-node-4b5142f38184-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-81221a364422-b94a1a29 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 479px) {
    #w-node-81221a364422-b94a1a29 {
        -ms-grid-column: 3;
        grid-column-start: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 4;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-7736e70b198e-b94a1a29 {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 479px) {
    #w-node-7736e70b198e-b94a1a29 {
        -ms-grid-column: 4;
        grid-column-start: 4;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 5;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-2dfed4a7dd46-b94a1a29 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 479px) {
    #w-node-2dfed4a7dd46-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-43f2111c2f9c-b94a1a29 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-b0ea3f0c945d-b94a1a29 {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 479px) {
    #w-node-b0ea3f0c945d-b94a1a29 {
        -ms-grid-column: 4;
        grid-column-start: 4;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 5;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-9b3e59297200-b94a1a29 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 479px) {
    #w-node-9b3e59297200-b94a1a29 {
        -ms-grid-column: 3;
        grid-column-start: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 4;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-4291c9195def-b94a1a29 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
}

@media screen and (max-width: 767px) {
    #w-node-4291c9195def-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

#w-node-48436b18891f-b94a1a29 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: end;
    justify-self: end;
}

@media screen and (max-width: 767px) {
    #w-node-48436b18891f-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-column-align: center;
        justify-self: center;
    }
}

#w-node-722cdf96d76f-b94a1a29 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
}

@media screen and (max-width: 767px) {
    #w-node-722cdf96d76f-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

#w-node-8b0532a894fe-b94a1a29 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-grid-row-align: center;
    align-self: center;
}

@media screen and (max-width: 767px) {
    #w-node-8b0532a894fe-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

#w-node-1aec73683d2d-b94a1a29 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: end;
    justify-self: end;
}

@media screen and (max-width: 767px) {
    #w-node-1aec73683d2d-b94a1a29 {
        -ms-grid-column-align: end;
        justify-self: end;
    }
}

#w-node-7b51a1755efd-b94a1a29 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-4840e2acd072-b94a1a29 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-d87f9e9ebdf3-b94a1a29 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-74e0341c6dd1-b94a1a29 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 991px) {
    #w-node-74e0341c6dd1-b94a1a29 {
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-f2c352ed59d6-b94a1a29 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
}

@media screen and (max-width: 991px) {
    #w-node-f2c352ed59d6-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
    }
}

@media screen and (max-width: 767px) {
    #w-node-f2c352ed59d6-b94a1a29 {
        -ms-grid-column-align: center;
        justify-self: center;
    }
}

#w-node-f18b22ed1b80-b94a1a29 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: end;
    justify-self: end;
}

@media screen and (max-width: 991px) {
    #w-node-f18b22ed1b80-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 3;
        grid-row-start: 3;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 4;
        -ms-grid-column-align: center;
        justify-self: center;
    }
}

@media screen and (max-width: 479px) {
    #w-node-f18b22ed1b80-b94a1a29 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 3;
        grid-row-start: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 4;
    }
}

#w-node-dfc9b124a57a-c254b75c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: auto;
    justify-self: auto;
}

@media screen and (max-width: 767px) {
    #w-node-dfc9b124a57a-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: auto;
        justify-self: auto;
    }
}

#w-node-b99581060cf4-c254b75c {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
}

@media screen and (max-width: 991px) {
    #w-node-b99581060cf4-c254b75c {
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

@media screen and (max-width: 767px) {
    #w-node-b99581060cf4-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

@media screen and (max-width: 479px) {
    #w-node-b99581060cf4-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

#w-node-4c7399fddc47-c254b75c {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 991px) {
    #w-node-4c7399fddc47-c254b75c {
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 767px) {
    #w-node-4c7399fddc47-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
    }
}

@media screen and (max-width: 479px) {
    #w-node-4c7399fddc47-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
    }
}

#w-node-4217b4eba2d2-c254b75c {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 767px) {
    #w-node-4217b4eba2d2-c254b75c {
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 479px) {
    #w-node-4217b4eba2d2-c254b75c {
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-4217b4eba2d4-c254b75c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 991px) {
    #w-node-4217b4eba2d4-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 767px) {
    #w-node-4217b4eba2d4-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 479px) {
    #w-node-4217b4eba2d4-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-4217b4eba2d6-c254b75c {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 991px) {
    #w-node-4217b4eba2d6-c254b75c {
        -ms-grid-column: 3;
        grid-column-start: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 4;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 767px) {
    #w-node-4217b4eba2d6-c254b75c {
        -ms-grid-column: 3;
        grid-column-start: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 4;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 479px) {
    #w-node-4217b4eba2d6-c254b75c {
        -ms-grid-column: 3;
        grid-column-start: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 4;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-4217b4eba2d8-c254b75c {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 767px) {
    #w-node-4217b4eba2d8-c254b75c {
        -ms-grid-column: 4;
        grid-column-start: 4;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 5;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 479px) {
    #w-node-4217b4eba2d8-c254b75c {
        -ms-grid-column: 4;
        grid-column-start: 4;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 5;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-512ef4c4b435-c254b75c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 479px) {
    #w-node-512ef4c4b435-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-512ef4c4b437-c254b75c {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-512ef4c4b439-c254b75c {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 991px) {
    #w-node-512ef4c4b439-c254b75c {
        -ms-grid-column: 4;
        grid-column-start: 4;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 5;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 479px) {
    #w-node-512ef4c4b439-c254b75c {
        -ms-grid-column: 4;
        grid-column-start: 4;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 5;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-512ef4c4b43b-c254b75c {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 767px) {
    #w-node-512ef4c4b43b-c254b75c {
        -ms-grid-column: 3;
        grid-column-start: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 4;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 479px) {
    #w-node-512ef4c4b43b-c254b75c {
        -ms-grid-column: 3;
        grid-column-start: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 4;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-4291c9195def-c254b75c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
}

@media screen and (max-width: 767px) {
    #w-node-4291c9195def-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

#w-node-48436b18891f-c254b75c {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-grid-row-align: center;
    align-self: center;
}

@media screen and (max-width: 767px) {
    #w-node-48436b18891f-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-column-align: center;
        justify-self: center;
    }
}

#w-node-722cdf96d76f-c254b75c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
}

@media screen and (max-width: 767px) {
    #w-node-722cdf96d76f-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

#w-node-8b0532a894fe-c254b75c {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-grid-row-align: center;
    align-self: center;
}

@media screen and (max-width: 767px) {
    #w-node-8b0532a894fe-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

#w-node-7b51a1755efd-c254b75c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-4840e2acd072-c254b75c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-d87f9e9ebdf3-c254b75c {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

#w-node-74e0341c6dd1-c254b75c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 991px) {
    #w-node-74e0341c6dd1-c254b75c {
        -ms-grid-column-align: center;
        justify-self: center;
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

#w-node-f2c352ed59d6-c254b75c {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
}

@media screen and (max-width: 991px) {
    #w-node-f2c352ed59d6-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
    }
}

@media screen and (max-width: 767px) {
    #w-node-f2c352ed59d6-c254b75c {
        -ms-grid-column-align: center;
        justify-self: center;
    }
}

#w-node-f18b22ed1b80-c254b75c {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: end;
    justify-self: end;
}

@media screen and (max-width: 991px) {
    #w-node-f18b22ed1b80-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row: 3;
        grid-row-start: 3;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row-span: 1;
        grid-row-end: 4;
        -ms-grid-column-align: center;
        justify-self: center;
    }
}

@media screen and (max-width: 479px) {
    #w-node-f18b22ed1b80-c254b75c {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        -ms-grid-row: 3;
        grid-row-start: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 4;
    }
}

@font-face {
    font-family: 'Avenir Next Black';
    src: url('../fonts/AvenirNext-Heavy-09.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url('../fonts/AvenirNext-Bold-01.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Semi Bold';
    src: url('../fonts/AvenirNext-DemiBold-03.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Black Italic';
    src: url('../fonts/AvenirNext-HeavyItalic-10.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Semi Bold Italic';
    src: url('../fonts/AvenirNext-DemiBoldItalic-04.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Medium Italic';
    src: url('../fonts/AvenirNext-MediumItalic-07.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Normal Italic';
    src: url('../fonts/AvenirNext-Italic-05.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Medium Normal';
    src: url('../fonts/AvenirNext-Medium-06.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Extra Light Italic';
    src: url('../fonts/AvenirNext-UltraLightItalic-12.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Normal';
    src: url('../fonts/AvenirNext-Regular-08.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Bold Italic';
    src: url('../fonts/AvenirNext-BoldItalic-02.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Extra Light Normal';
    src: url('../fonts/AvenirNext-UltraLight-11.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
